<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Launcher.Properties.Settings>
            <setting name="blur" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zoom" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="showseconds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cornerradius" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="darkmode" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="time" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="date" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="weather" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="apps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cl1" serializeAs="String">
                <value>FF000000</value>
            </setting>
            <setting name="cl2" serializeAs="String">
                <value>FFFFFFFF</value>
            </setting>
            <setting name="cl3" serializeAs="String">
                <value>FFFFFFFF</value>
            </setting>
            <setting name="ressources" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="taskscale" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vertical" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fullscreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="firststart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="refresh" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="netspeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Download" serializeAs="String">
                <value />
            </setting>
            <setting name="Upload" serializeAs="String">
                <value />
            </setting>
            <setting name="Ping" serializeAs="String">
                <value />
            </setting>
        </Launcher.Properties.Settings>
    </userSettings>
</configuration>